body
{
    background: #f1f1f1 !important;
}

#adminmenuwrap{
    height: 100%
}

#chart-container{ height: 235px; width: 100% }

.gdbcwidget {
    border-radius: 0;
    margin: 0 0 30px;
    padding: 0;
}

.gdbcwidget .widget-body { 
	min-height: 100px; 
	padding-bottom: 13px; 
	position: relative; 
}

.gdbcwidget header {
    border-radius: 0;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
	background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #c2c2c2;
    color: #333;
	height: 34px;
    line-height: 40px;
    padding: 0;
	font-size: 13px;
}

.gdbcwidget > header {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #c2c2c2;
    color: #333;
}

.gdbcwidget header h2 {     
	float: left;
	display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    letter-spacing: 0;
    line-height: 34px;
    margin: 0;
    position: relative;
    width: auto;
	padding: 0 !important;
} 

.gdbcwidget > div {
    border-bottom-color: #ccc !important;
    border-left-color: #ccc !important;
    border-radius: 0;
    border-right-color: #ccc !important;
    border-style: none solid solid;
    border-top: medium none;
    border-width: medium 1px 2px;
    float: left;
    font-size: 13px;
    margin: 0;
    overflow: visible;
    padding: 13px 13px 0;
    position: relative;
    width: 100%;
	background-color: #fff !important
}
	
.no-padding {
    padding: 0 !important;
}

.row.no-space {
	margin:0; 
	padding:0; 
	border:none; 
}

.no-space {
    margin: 0;
}

.widget-icon { 
	display:block; 
	float: left; 
	font-size: 111%; 
	height: 32px; 
	line-height: 32px; 
	position: relative; 
	text-align: center; 
	width: 30px
}
#dashboard-navigation{
	float: left
}

.gdbcwidget-loader {
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    float: right;
    font-size: 111%;
    height: 32px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    width: 32px
}

.no-space > [class*="col-"] {
    margin: 0 !important;
    padding-left: 0;
    padding-right: 0;
}

.nav > li {
    display: block;
    position: relative;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.gdbcwidget header:first-child .nav-tabs li {
    padding-left: 0;
}

.gdbcwidget header .nav-tabs > li.active > a, .gdbcwidget header .nav-tabs > li.active > a:focus, .gdbcwidget header .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #c2c2c2 transparent;
    border-image: none;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #555;
    cursor: default;
}

.gdbcwidget header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    padding: 7px 15px 6px;
}

.module-pagingation
{
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.nav-tabs > li.active > a {
    border-top-width: 0 !important;
    box-shadow: 0 -2px 0 #57889c;
    font-weight: 700;
    margin-top: 1px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555;
    cursor: default;
}

.nav-tabs > li > a {
    border-radius: 0;
    color: #333;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}
.nav > li > a {
    display: block;
    padding: 9px 10px 10px;
    position: relative;
}

.vector-map, #gdbc-stats{
    height: 300px;
    width: 100%;
}

.vector-map{
    padding: 10px;
}

 .progress {
    border-radius: 0;
    height: 7px;
    margin-bottom: 15px;
    margin-top: 3px;
}

.easyPieChart{
	display: inline-block; 
	text-align: center; 
	position: relative; 
	width: 60px;
	height: 60px;
	line-height: 60px
}

.easyPieChart canvas{
	position: absolute; 
	top:0; 
	left:0
}

.pie-chart-widgets > div {
    border-right: 1px solid #dadada !important;
    border-top: 1px solid #dadada !important;
    margin-top: 10px !important;
    overflow: hidden;
    padding: 7px 9px;
}

.padding-10
{
	padding: 10px !important;
}

.table img
{
	margin-right: 5px 
}

.countriesTable tbody tr, #gdbc-top-ip-attempts table tbody tr{
    height: 40px;
}

.bg-color-dark-blue{
	background-color: #4c4f53 !important;
}

.bg-color-blue{
	background-color: #57889c !important;
}

.bg-color-green{
	background-color: #71843f !important;
}

.bg-color-dark-orange{
	background-color: #a57225
}

.view-buttons{
	width:100%;
}

.view-buttons span
{
	display: inline-block;
	width: 200px;
	float:right;
}

/* Map with location of all the attempts */
.jvectormap-zoomin,.jvectormap-zoomout
{
    position:absolute;
    padding:4px;
    width:22px;
    height:22px;
    cursor:pointer;
    line-height:10px;
    text-align:center;
    font-size:14px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow:inset 0 -2px 0 rgba(0,0,0,.05);
    background-color:#fff;
    border:1px solid #bfbfbf
}

.jvectormap-zoomin:hover,.jvectormap-zoomout:hover
{
    background:#eee;border-color:#d9d9d9
}

.jvectormap-zoomin
{
    top:0
}

.jvectormap-zoomout
{
    top:24px
}

.jvectormap-label
{
    position:absolute;
    display:none;
    border:solid 1px #CDCDCD;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#292929;
    color:#fff;
    font-family:sans-serif,Verdana;
    font-size:smaller;
    padding:3px
}

.bg-color-greenLight {
    background-color: #71843f !important;
}

.bg-color-blueLight {
    background-color: #92a2a8 !important;
}

.bg-color-red{
    background-color: #a90329 !important;
}

.icon-success{
    color: #5cb85c
}

.icon-danger{
    color: #d9534f
}

.icon-primary{
    color: #428bca
}

a.badge:hover{
    background-color: #92a2a8 !important;
}

a.easy-tool-tip:hover span:hover {
    background-color: #92a2a8 !important;
    cursor: hand;
}

.pie-chart-widgets span.label {
    min-width: 30px;
    display: block;
    text-align: center;
}

.dropdown-menu-xs {
    min-width: 37px;
}

/*modules page*/
.toolbar {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 42px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    background-color: #fff;
    color: #666;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    position: relative;
}

#modules-chart .inline-group:after {
    clear: both;
    content: "";
    display: table;
}


#modules-chart *, #modules-chart *:after, #modules-chart *:before {
    box-sizing: content-box;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#modules-chart .inline-group .checkbox, #modules-chart .inline-group .radio {
    float: left;
    margin-right: 30px;
    width: 130px
}

#modules-chart .checkbox, #modules-chart .radio {
    color: #404040;
    cursor: pointer;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 4px;
    padding-left: 25px;
}

#modules-chart .checkbox input, #modules-chart .radio input {
    left: -9999px;
    position: absolute;
}

#modules-chart input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
}

input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 4px;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#modules-chart .checkbox input:checked + i:after, #modules-chart .radio input:checked + i:after {
    opacity: 1;
}

#modules-chart .checkbox input:checked + i:after {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 15px;
    left: 1px;
    line-height: 19px;
    text-align: center;
    top: -1px;
    width: 15px;
    color: #3276b1;
    margin-right: 10px;
}

#modules-chart .checkbox input + i:after {
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 15px;
    left: 1px;
    line-height: 19px;
    text-align: center;
    top: -1px;
    width: 15px;
    color: #3276b1;
    margin-right: 10px;
}

#modules-chart  .checkbox input:checked:hover + i:after{
    content: "";
}

#modules-chart .checkbox input:checked + i, #modules-chart .radio input:checked + i, #modules-chart .toggle input:checked + i {
    border-bottom-color: #3276b1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #3276b1;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #3276b1;
    border-top-color: #3276b1
}

#flot-container {
    height: 235px;
    width: 100%;
}

#flotTip{
    padding:3px 5px;
    background-color:#fff;
    z-index:9999;
    color:#333;
    -webkit-box-shadow:0 1px 8px rgba(0,0,0,.1);
    -moz-box-shadow:0 1px 8px rgba(0,0,0,.1);
    box-shadow:0 1px 8px rgba(0,0,0,.1);
    font-size:14px;
    border:1px solid #C1C1C1;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px
}

#flotTip span{
    color:#38812D;
    font-weight:700
}

.module-pagination ul{
    margin-top: 0;
    margin-bottom: 0
}

.mchwp-settings form table.form-table
{
    width:auto !important;
}

.mchwp-settings form table.form-table tr
{
    position:relative !important;
}

.mchwp-settings form table.form-table th
{
    width: 250px !important;
    padding: 18px 10px 12px 0 !important;
}

.mchwp-settings form table.form-table td
{
    padding:10px 0;
}

.mchwp-settings form table.form-table td p
{
    left: 0;
    position: absolute;
    width: 700px;
    margin:0 !important;
}

.gdbcsettingsadminmodule-settings form table.form-table th, .gdbcsettingsadminmodule-settings form table.form-table td
{
    padding-bottom: 30px !important;
}


.text-center
{
    margin-top: 10px;
    text-align: center !important;
}

.btn-label
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
    display: inline-block;
    left: -12px;
    padding: 6px 12px;
    position: relative;
}

.btn {
    border-radius: 2px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset;
}

a.btn-rate-gdbc
{
    display:none;
}

a.btn-rate-gdbc:hover i.glyphicon
{
    color: #ffff00;
}

.btn-labeled {
    padding-bottom: 0;
    padding-top: 0;
}

.gdbcreportsadminmodule-settings ul.pagination a:hover
{
    cursor: pointer;
}